/* 定义整个页面的文本格式 */
body {
	
	/* 将左右外边距设置为自动以使页面在水平方向居中 */
	margin: auto; 
	
	/* 将最大宽度限制为500像素以控制页面的宽度，并使其在浏览器窗口变小时不会过度缩小 */
	max-width: 500px; 
	
	/* 设置所有文本的字体大小为14像素 */
	font-size: 14px; 
	
	/* 指定可能用于文本的字体系列。如果第一个字体不可用，浏览器会尝试使用第二个字体，以此类推。*/
	font-family: Helvetica, Arial, sans-serif; 
}

/* 底部（footer）块的样式定义 */
footer {
	
	/* 设置文本颜色为浅灰色 */
    color: #888;
    
    /* 将顶部外边距设置为15像素以在上面留出空间 */
    margin-top: 15px;
    
    /* 水平居中文本 */
    text-align: center;
    
    /* 在顶部和底部添加10像素的填充以使文本离文本块边缘有一定距离 */
    padding: 10px;
}

/* 用于所有class="avatar"的元素上的样式定义 */
.avatar{
	
	/* 将元素的宽度设置为40个像素 */
	width: 40px;
}

/* 电影清单列表块的样式定义 */
.movie-list{
	
	/* 去除列表符号 */
	list-style-type: none;
	
	/* 在列表内容前不添加内边距 */
	padding: 0;
	
	/* 在列表底部添加一个带有阴影的边框 */
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

/* 电影清单列表项的样式定义 */
.movie-list li{
	
	/* 在列表项内添加12像素的顶部和底部填充以及24像素的左右填充 */
	padding: 12px 24px;
	
	/* 在每个列表项之间添加1像素的灰色底部边框 */
	border-bottom: 1px solid #ddd;
}

/* 对于最后一项不添加边框 */
.movie-list li:last-child{
	border-bottom: none;
}

/* 鼠标悬停在电影清单列表项上时，背景颜色变为浅灰色 */
.movie-list li:hover{
	background-color: #f8f9fa;
}

/* 对于class="totoro"的元素 */
.totoro{
	
	/* 将元素设置为块级元素 */
	display: block;
	
	/* 自动设置左右外边距以使元素水平居中 */
	margin: 0 auto;
	
	/* 将元素高度设置为100个像素 */
	height: 100px;
}

/* 定义导航栏 (nav) 中的无序列表 (ul) 的样式 */
nav ul {
    list-style-type: none; /* 移除列表项的项目符号（小圆点等） */
    margin: 0; /* 设置外边距为 0，消除默认边距 */
    padding: 0; /* 设置内边距为 0，消除默认边距 */
    overflow: hidden; /* 隐藏溢出的内容 */
    background-color: #333; /* 设置导航栏背景颜色为深灰色 */
}

/* 定义导航栏 (nav) 中的列表项 (li) 的样式 */
nav li {
    float: left; /* 让列表项浮动到左边，实现横向排列 */
}

/* 定义导航栏 (nav) 中的链接 (a) 的样式 */
nav li a {
    display: block; /* 将链接显示为块级元素，便于设置宽高 */
    color: white; /* 设置链接文字颜色为白色 */
    text-align: center; /* 设置文本居中对齐 */
    padding: 8px 12px; /* 设置链接内边距 */
    text-decoration: none; /* 移除链接的下划线 */
}

/* 定义导航栏 (nav) 中的链接 (a) 在鼠标悬停时的样式 */
nav li a:hover {
    background-color: #111; /* 鼠标悬停时设置链接背景颜色为接近黑色的深灰色 */
}


.float-right{
    float: right;
}

.imdb{
    font-size: 12px;
    font-weight: bold;
    color: block;
    text-decoration: none;
    background-color: #F5C518;
    border-radius: 5px;
    padding: 3px 5px;
}

input[type=submit]{
    font-family: inherit;
}

input[type=text]{
    border: 1px solid #ddd;
}

input[name=year]{
    width: 50px;
}

.btn{
    font-size: 12px;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #555555;
    border-radius: 5px;
}

.btn:hover{
    text-decoration:none;
    background-color: black;
    color: white;
    border: 1px solid black;
}

.alert {
    position: relative;
    padding: 7px;
    margin: 7px 0;
    border: 1px solid transparent;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    border-radius: 5ps;
}

.inline-form{
    display: inline;
}